In [14]:
import pandas as pd

In [28]:
variation = 'run_incremental'
scale = 10
partition = 10
eval_partitions = 2
query = 'q2'
log_file = f'logs/{variation}/scale={scale}/partition={partition}/query={query}/eval_partitions={eval_partitions}/latest.log'

In [29]:
with open(log_file,'r') as f:
    logs = f.readlines()

In [30]:
log_info = []
for line in logs:
    if 'func:' in line:
        time_instant = float(line.split()[0])
        event,function = line.split()[1].split('func:')[1].split(':')
        params = line.split()[2:]
        log_info.append({
            'timestamp': time_instant,
            'event': event,
            'function': function,
            'params': ' '.join(params)
        })

In [31]:
df = pd.DataFrame(log_info)
df['time_delta'] = df['timestamp'].diff(periods=1)
df['cumulative'] = df['time_delta'].cumsum(axis=0)

In [32]:
pd.set_option('display.max_rows', None)

In [33]:
print("Total Time (in sec):",df['cumulative'].max())

Total Time (in sec): 0.5789999961853027

In [34]:
df

,timestamp,event,function,params,time_delta,cumulative
0,1.638913e+09,start,QuerySession__init__,,NaN,NaN
1,1.638913e+09,end,QuerySession__init__,,0.000,0.000
2,1.638913e+09,start,QueryProcessing,,0.000,0.000
3,1.638913e+09,start,load_table,lineitem 1 None ../data/scale=10/partition=10,0.000,0.000
4,1.638913e+09,end,load_table,lineitem 1 None ../data/scale=10/partition=10,0.472,0.472
5,1.638913e+09,start,load_table,customer 1 None ../data/scale=10/partition=10,0.000,0.472
6,1.638913e+09,end,load_table,customer 1 None ../data/scale=10/partition=10,0.020,0.492
7,1.638913e+09,start,load_table,orders 1 None ../data/scale=10/partition=10,0.000,0.492
8,1.638913e+09,end,load_table,orders 1 None ../data/scale=10/partition=10,0.086,0.578
9,1.638913e+09,start,EvaluatingResults,partition:1,0.000,0.578
10,1.638913e+09,start,run_incremental,args:select_operation,0.000,0.578
11,1.638913e+09,start,TaskEvaluate,"args:incremental_evaluate,table_lineitem,<deep...",0.000,0.578
12,1.638913e+09,start,build_input_data,,0.000,0.578
13,1.638913e+09,end,build_input_data,,0.000,0.578
14,1.638913e+09,end,TaskEvaluate,Time taken:0.000110626220703125,0.000,0.578
15,1.638913e+09,start,TaskEvaluate,"args:incremental_evaluate,table_customer,<deep...",0.000,0.578
16,1.638913e+09,start,build_input_data,,0.000,0.578
17,1.638913e+09,end,build_input_data,,0.000,0.578
18,1.638913e+09,end,TaskEvaluate,Time taken:7.104873657226562e-05,0.000,0.578
19,1.638913e+09,start,TaskEvaluate,"args:incremental_evaluate,table_orders,<deepol...",0.000,0.578
20,1.638913e+09,start,build_input_data,,0.000,0.578
21,1.638913e+09,end,build_input_data,,0.001,0.579
22,1.638913e+09,end,TaskEvaluate,Time taken:7.104873657226562e-05,0.000,0.579
23,1.638913e+09,start,TaskEvaluate,"args:merge_stateful,join_lineitem_order,<deepo...",0.000,0.579

In [35]:
df.sort_values('time_delta',ascending=False)

,timestamp,event,function,params,time_delta,cumulative
4,1.638913e+09,end,load_table,lineitem 1 None ../data/scale=10/partition=10,0.472,0.472
8,1.638913e+09,end,load_table,orders 1 None ../data/scale=10/partition=10,0.086,0.578
6,1.638913e+09,end,load_table,customer 1 None ../data/scale=10/partition=10,0.020,0.492
21,1.638913e+09,end,build_input_data,,0.001,0.579
1,1.638913e+09,end,QuerySession__init__,,0.000,0.000
14,1.638913e+09,end,TaskEvaluate,Time taken:0.000110626220703125,0.000,0.578
22,1.638913e+09,end,TaskEvaluate,Time taken:7.104873657226562e-05,0.000,0.579
20,1.638913e+09,start,build_input_data,,0.000,0.578
19,1.638913e+09,start,TaskEvaluate,"args:incremental_evaluate,table_orders,<deepol...",0.000,0.578
18,1.638913e+09,end,TaskEvaluate,Time taken:7.104873657226562e-05,0.000,0.578
17,1.638913e+09,end,build_input_data,,0.000,0.578
16,1.638913e+09,start,build_input_data,,0.000,0.578
15,1.638913e+09,start,TaskEvaluate,"args:incremental_evaluate,table_customer,<deep...",0.000,0.578
12,1.638913e+09,start,build_input_data,,0.000,0.578
13,1.638913e+09,end,build_input_data,,0.000,0.578
2,1.638913e+09,start,QueryProcessing,,0.000,0.000
11,1.638913e+09,start,TaskEvaluate,"args:incremental_evaluate,table_lineitem,<deep...",0.000,0.578
10,1.638913e+09,start,run_incremental,args:select_operation,0.000,0.578
9,1.638913e+09,start,EvaluatingResults,partition:1,0.000,0.578
7,1.638913e+09,start,load_table,orders 1 None ../data/scale=10/partition=10,0.000,0.492
5,1.638913e+09,start,load_table,customer 1 None ../data/scale=10/partition=10,0.000,0.472
3,1.638913e+09,start,load_table,lineitem 1 None ../data/scale=10/partition=10,0.000,0.000
23,1.638913e+09,start,TaskEvaluate,"args:merge_stateful,join_lineitem_order,<deepo...",0.000,0.579
0,1.638913e+09,start,QuerySession__init__,,NaN,NaN